.form-container {
    background: #EEE;
    width: 500px;
    margin: 0 auto 0 auto;
    padding: 20px;
    text-align: center;
}
#search-form label {
    font-weight: bold;
}

.btn {
    display:inline-block;
    color: #fff;
    margin: 3px 0;
    background-color: #000;
    padding:  5px 10px;
    border: 2px outset;
    border-radius: 16px;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #f33;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.error {
    background: #fdd;
    color: #f36;
    border: 1px solid #f36;
    padding: 25px;
    margin: 10px auto 0 auto;
    width: 400px;
}

#search-container {
    background: #eee;
    width: 900px;
    margin: 10px auto 0 auto;
    padding: 10px;
    text-align: center;
}
#search-container .gif {
    display: inline-block;
}

.gif video {
    float: left;
    border: 1px dashed red;
    margin: 5px;
}
.gif button {
    background: #aaa;
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 0 0 0 30px;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.gif button.like {
    clear: both;
}

.gif button:hover {
    background: #fcc;
    cursor: pointer;
}

.gif button:disabled {
    color: #f33;
    border: 1px solid #f33;
}
.gif button:disabled:hover {
    background: #aaa;
    cursor: inherit;
}

#header {
    width: 50%;
    margin: auto;
    background: #fda;
    border: 1px solid red;

}
